ul , li{
    list-style: none !important;
}
.list-none{
    list-style: none!important;
}
.dataTables_filter{
    padding-top: 20px!important;
}
a{
    text-decoration: none !important;
}
.dashed-border{
    border: 1px dashed #0c84ff;
}
footer{
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    margin: 0 !important;
}
.head{
    background-color:#f2f2f2 !important;
}
